/*.playfair-display-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}*/
* {
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

body {
    background-color: #5e0404;
    color: white;
}

.content {
    margin-top: 60px;
}

.navbar {
    display: flex;
    flex-direction: row;
    background: #ff0000;
    font-size: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar-left {
    width: 33%;
}

.navbar-left {
    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        background: #b60000;
        padding: 4px;
        border-radius: 6px;
    }
    a:hover {
        background: #a60000;
    }
}

.navbar-middle {
    flex: 1;
    align-items: center;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
}

/* Style for the input */
.search_bar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    width: 250px;
}

/* Style for the submit button */
.search_button {
    background-color: #d90000;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: -10px;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
}

/* Button hover effect */
.search_button:hover {
  background-color: #bb0505;
    color: white;
}

/*summoner.html*/
.horizontal-container {
    display: flex;
    flex-direction: column;
    border: 5px solid #3a0000;
    border-radius: 5px;
}

.vertical-container {
    display: flex;
    flex-direction: row;
    border: 5px solid #3a0000;
    border-radius: 5px;
}

.rank-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.match-history {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    align-items: flex-start;
    border: 5px solid #3a0000;
    padding: 20px;
    border-radius: 5px;
}