* {
    margin: 0;
    padding: 0;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: #070720;
    color: white;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}

.background-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 60px;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.gradient-container {
    position: sticky;
    top: 60px;
    width: 100%;
    height: 800px;
    margin-top: -700px;
}

.gradient {
    z-index: 1999;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50% -50px;
    background-image: radial-gradient(60% 50% at 40% 33%,
    rgba(7, 7, 32, 0) 20%, #070720 80%),
    linear-gradient(90deg, #070720, rgba(7, 7, 32, 0)), linear-gradient(0deg, #070720 10%, rgba(7, 7, 32, 0));
}

.content {
    margin-top: 60px;
}

.navbar {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 300;
    background-color: #070720;
    flex-wrap: nowrap;
}

.navbar-left {
    width: 30%;
    flex-wrap: nowrap;
    margin-left: 8px;
}

.navbar-left {
    a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        background: #000059;
        padding: 4px;
        border-radius: 4px;
        opacity: 0.8;
    }
    a:hover {
        background: #1d138f;
        opacity: 1;
    }
}

.navbar-middle {
    flex: 1;
    align-items: center;
    form {
        display: flex;
        flex-wrap: nowrap;
    }
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
}

.search_bar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    width: 250px;
    background: #000059;
    color: #d5d5d5;
}

.search_button {
    background-color: #0d0848;
    color: #d5d5d5;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: -10px;
    padding: 10px;
    font-weight: 700;
    font-size: 15px;
}

/* Button hover effect */
.search_button:hover {
  background-color: #1d138f;
}

/*summoner.html*/
.vertical-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.horizontal-header-container {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 40px 10px 10px 20px;
}

.horizontal-body-container {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 40px 10px 10px 20px;
    flex-wrap: wrap;
}

.profile-icon-container {
    position: relative;
    flex: 0 0 93px;
    width: 93px;
    height: 93px;
    border-radius: 6px;
    background-color: #17172e;
}

.level-header {
    border: 2px solid gold;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: #00052f;
    padding: 0 6px 1px;
}

.profile-icon-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid gold;
}

.header-vertical-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-left: 15px;
    gap: 10px;
}

.summoner-name-header {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.update-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 36px;
    border-radius: 6px;
    background-color: #3273fa;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border: none;
}

.update-button:hover {
    background-color: #1147bd;
}

.rank-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 89, 0.38);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 13px;
}

.rank-name {
    font-size: 16px;
    font-weight: 800;
}

.main-rank-stats {
    font-size: 14px;
    font-weight: 600;
}

.match-history {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    align-items: flex-start;
    padding: 0 10px 10px;
    border-radius: 5px;
    gap: 2px;
    margin-left: 10px;
}

.match-history-row-win {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    background: rgba(48, 255, 0, 0.29);
    padding: 7px 10px;
    margin: 2px;
}

.match-history-row-win:hover {
    background: #006500;
}

.match-history-row-lose {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    background: rgba(143, 0, 0, 0.45);
    padding: 7px 10px;
    margin: 2px;
}

.match-history-row-lose:hover {
    background: #700000;
}

.first-column {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    margin-left: 5px;
    width: 80px;
}

.champion {
    position: relative;
    margin-right: 2px;
    margin-left: 20px;
}

.champion-face {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 3px;
    overflow: hidden;
}

.champion-level {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 16px;
    border-radius: 3px;
    background-color: #191937;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}

.champion-img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}

.summoner-spells {
    display: flex;
    flex-direction: column;
    margin-right: 2px;
    gap: 2px;
}

.summoner-spell {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-color: #191937;
}

.post-game-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    width: 50px;
    font-size: 10px;
}

.main-stats {
    font-size: 13px;
}

.items {
    display: flex;
    margin-left: 20px;
}

.main-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
    justify-content: space-between;
}

.item {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-color: #191937;
}

.trinket {
    display: flex;
    justify-content: center;
    margin-left: 2px;
}

.blank-item {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background: #000026;
}

.players {
    display: flex;
    width: 194px;
    margin-left: 20px;
    margin-right: 5px;
    font-size: 11px;
}

.player {
    display: flex;
    align-items: center;
    max-width: 95px;
    a {
        text-decoration: none;
        outline: none;
        font-size: 11px;
        font-weight: 400;
        color: #cddcfe;
        cursor: pointer;
        margin-left: 2px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    a:hover {
        text-underline: white;
        text-decoration: underline;
    }
}

.player-champion {
    height: 15px;
    width: 15px;
}

.team-list {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*Leaderboard*/
.leaderboard-container {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border: 2px solid white;
    border-radius: 5px;
}

.leaderboard-first-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    font-size: 23px;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.leaderboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.leaderboard-column-name {
    width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 600;
    padding-left: 6%;
    a {
        text-decoration: none;
        outline: none;
        color: #cddcfe;
        cursor: pointer;
        margin-left: 2px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    a:hover {
        text-underline: white;
        text-decoration: underline;
    }
}

.leaderboard-row-element {
    display: flex;
    justify-content: center;
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*Tier List*/
.tierlist-header {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
}

.tierlist-header-roles {
    margin: 20px 20px 20px 0;
    display: flex;
    background: #191937;
    padding: 5px;
    border-radius: 5px;
}

.role-button {
    width: 25px;
    height: 25px;
    background-size: cover;
    display: inline-block;
    position: relative;
    margin: 3px;
    border-radius: 3px;
}

.active-role-button {
    width: 25px;
    height: 25px;
    background-size: cover;
    display: inline-block;
    position: relative;
    margin: 3px;
    background-color: #191937;
    border-radius: 3px;
}

.role-button:hover {
    background-color: #141467;
}

.role-button button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.tier-select {
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: #191937;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #c6a96d;
    height: 41px;
    margin: 20px;
    display: flex;
}

.tierlist-container {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    background: #191937;
    border-radius: 5px;
    padding: 10px;
    gap: 5px;
}

.sort-button {
    background: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 17px;
}

.tierlist-row {
    display: flex;
    flex-direction: row;
    background-color: #11112a;
    padding: 5px;
    border-radius: 5px;
}

.tierlist-column-rank {
    display: flex;
    padding: 5px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.tierlist-column-role {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin-left: 30px;
}

.tierlist-column-champion {
    display: flex;
    padding: 5px;
    align-items: center;
    font-weight: 700;
    gap: 7px;
    width: 170px;
    margin-left: 30px;
}

.tierlist-column-winrate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 80px;
    justify-content: center;
    margin-left: 30px;
}

.tierlist-column-matches {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 50px;
    margin-left: 30px;
}

/* responsive css */
@media screen and (max-width: 800px) {
    .vertical-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .horizontal-header-container {
        justify-content: center;
        margin-bottom: 0;
    }
    .rank-container {
        margin: 10px;
        width: 235px;
    }
    .match-history {

    }
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #1d1d59;
    border-radius: 10px;
    margin: 5px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #2828cc;
    border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #3a3aff;
}