{% extends 'base.html' %}
{% block title %}Leaderboard{% endblock %}
{% block body %}
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <h1>SoloQ leaderboard:</h1>
        <form action="/leaderboard" method="post">
            <button type="submit">Update</button>
        </form>
    {% for i in data %}
        <span>{{ i.gameName }} #{{ i.tagLine }}</span>
        <span>{{ i.leaguePoints }} LP</span>
        <span>{{ i.wins }} W {{ i.losses }} L</span>
        <span>{{ i.winrate }} %</span><br>
    {% endfor %}
    {% endif %}
{% endblock %}
