{% extends 'base.html' %}
{% block title %}Tier List{% endblock %}
{% block body %}
    <form action="/tierlist" method="post">
        <button type="submit" name="role" value="ALL">All</button>
        <button type="submit" name="role" value="TOP">Top</button>
        <button type="submit" name="role" value="JUNGLE">Jungle</button>
        <button type="submit" name="role" value="MIDDLE">Mid</button>
        <button type="submit" name="role" value="BOTTOM">Marksman</button>
        <button type="submit" name="role" value="UTILITY">Support</button>
    </form>

    <div class="tierlist-container">
    <form action="/tierlist" method="post">
        <div class="tierlist-row">
            <div class="tierlist-element"><button type="submit" name="sort" value="role">Role</button></div>
            <div class="tierlist-element"><button type="submit" name="sort" value="championName">Champion</button></div>
            <div class="tierlist-element"><button type="submit" name="sort" value="winrate">Win Rate</button></div>
            <div class="tierlist-element"><button type="submit" name="sort" value="matches">Matches</button></div>
            <input type="hidden" name="previous_role" value="{{ previous_role }}">
        </div>
    </form>
        {% for row in data %}
            <div class="tierlist-row">
                <div class="tierlist-element">{{ loop.index }}</div>
                <div class="tierlist-element">
                    <img style="width: 22px; height: 22px" src="{{ url_for('static', filename='/positions/{}.png'.format(row.role)) }}">
                </div>
                <div class="tierlist-element">
                    <img class="summoner-spell" src="https://ddragon.leagueoflegends.com/cdn/14.8.1/img/champion/{{ row.championImg }}.png">
                </div>
                <div class="tierlist-element">{{ row.championName }}</div>
                <div class="tierlist-element">{{ row.winrate }}%</div>
                <div class="tierlist-element">{{ row.matches }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}